.profile {
    flex-grow: 1;
}

.profile--header {
    background-color: #50CAFF;
    display: flex;
    justify-content: space-between;
}

.profile--header > span {
    font-weight: normal;
    font-size: 28px;
    color: #FFFFFF;
    padding: 12px 0px 10px 40px;
}

.profile__info {
    display: flex;
    align-items: center;
    padding: 0 40px 0 0;
}

.profile__info svg:hover {
    cursor: pointer;
}

.profile__info svg:nth-child(5) {
    margin: 0 0 0 8px;
}

.profile__info img:nth-child(4),
.profile__info svg:nth-child(2),
.profile__info svg:nth-child(3) {
    margin:  0 0 0 22px; 
}

.profile__info img {
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    padding: 1px;
}

.profile__line {
    padding: 15px 0 15px 40px;
    font-family: Rubik;
    font-size: 16px;
    color: #000000;
}

.doctor--card {
    margin: 0 0 15px 20px;
    max-width: 475px;
    padding: 20px 20px 20px 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px #EBE7FF;
    border-radius: 5px;
    flex-grow: 1;
    box-sizing: border-box;
}

.doctors--container {
    margin-bottom: 10px;
}

.doctor--card__data {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.doctor--card__address {
    font-weight: 300;
    max-width: 280px;
    font-size: 14px;
    margin: 5px 0 0 0;
    line-height: 20px;
    color: #000000;
}

.doctor--info {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.doctor--info button {
    background: #7761FF;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    height: 40px;
    padding: 12px 15px;
    margin-top: auto;
}

.doctor--info__wrraper {
    display: flex;
}

.doctor--info__list {
    margin: 0 0 0 10px;
    padding: 15px 0 0 0;
}


.doctor--info__list li:nth-child(1) {
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

.doctor--info__list li:nth-child(2) {
    font-size: 14px;
    color: #EBE7FF;
}

.doctor--info__foto {
    border-radius: 50%;
}


.electronic--card {
    display: grid;
    grid: repeat(2, 1fr) / repeat(2, 540px);
    grid-gap: 15px;
    margin: 0 0 40px 20px;
}



.electronic--card__item {
    display: flex;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px #EBE7FF;
    border-radius: 5px;
}

.electronic--card__item:hover {
    cursor: pointer;
    border: 2px solid #50CAFF;
    box-shadow: 0px 0px 5px #EBE7FF;
}


.electronic--card__item:hover .electronic--card__img svg {
    fill: #FFFFFF;
}
.electronic--card__item:hover .electronic--card__info ul li::before,
.electronic--card__item:hover .electronic--card__img {
    background-color: #50CAFF;
}

.electronic--card__item:hover hr {
    border-color: #50CAFF;
}

.electronic--card__item hr {
    border-color: #EBE7FF;
    max-width: 335px;
    margin: 10px 0 20px 0;

}

.electronic--card__item h3 {
    text-align: left;
    font-size: 28px;
    font-weight: normal;
    color: #000000;
    white-space: nowrap;
}

.electronic--card__img {
    position: relative;
    min-width: 133px;
}


.electronic--card__img svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.electronic--card__info {
    padding: 36px;
}

.electronic--card__info ul {
    padding-left: 13px;
}

.electronic--card__info ul li {
    position: relative;
}

.electronic--card__info ul li::before {
    content: '';
    display: block;
    height: 4px;
    width: 4px;
    position: absolute;
    background-color: #EBE7FF;
    border-radius: 50%;
    top: 40%;
    left: -10px;
}

.link--to {
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 20px;
    height: fit-content;
}

.link--to a {
    text-align: center;
}
